<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{main.title.homepage}]]</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header th:insert="blocks/header_lang :: header_lang"></header>
    <div class="container text-center">
        <div>
            <h1>[[#{main.headline}]]</h1>
        </div>
            <div>
                <h3><a th:href="@{/login}">[[#{menu.login}]]</a></h3>
                <h3><a th:href="@{/register}">[[#{menu.registration}]]</a></h3>
            </div>
    </div>
</body>
</html>