<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{menu.sign.in}]]</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header th:insert="blocks/header_lang :: header_lang"></header>
    <div class="container text-center">
    <div>
        <h1>[[#{menu.sign.in}]]</h1>
    </div>
    <div>
        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/login.html}" method="post"
              style="max-width: 500px; margin: 0 auto"
              th:object="${user}">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-form-label col-2">[[#{user.login}]]</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{login}" required
                               minlength="5" maxlength="24"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-2">[[#{user.password}]]</label>
                    <div class="col-8">
                        <input type="password" class="form-control" th:field="*{password}" required
                               minlength="8" maxlength="24"/>
                    </div>
                </div>


                <div>
                    <button type="submit" class="btn btn-primary">[[#{menu.sign.in.button}]]</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>