<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>[[#{statement.set.menu}]]</title>
</head>
<body>
<div align="center">
    <h1>[[#{statement.set.menu}]]</h1>
    <br/>
    <form action="#" th:action="@{/manager/set/{id}(id=${statement.id})}" th:object="${statement}" th:method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>[[#{statement.id}]]:</td>
                <td><input type="text" th:field="*{id}"  /></td>
            </tr>
            <tr>
                <td>[[#{statement.price}]]:</td>
                <td><input type="text" th:field="*{price}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">[[#{menu.save}]]</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>