<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>[[#{user.list}]]</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

    <div sec:authorize="hasAuthority('MANAGER')">
        <div class="container text-center">
            <div>
                <h1>[[#{user.list}]]</h1>
            </div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>[[#{user.id}]]</th>
                            <th>[[#{user.login}]]</th>
                            <th>[[#{user.name}]]</th>
                            <th>[[#{user.balance}]]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${userList}">
                            <td th:text="${user.id}">[[#{user.id}]]</td>
                            <td th:text="${user.login}">[[#{user.login}]]</td>
                            <td th:text="${user.name}">[[#{user.name}]]</td>
                            <td th:text="${user.balance}">[[#{user.balance}]]</td>
                            <td><a th:href="@{'/manager/users_list/' + ${user.id} + '/add_money'}">[[#{admin.add.money}]]</a></td>
                            <td><a th:href="@{'/manager/users_list/' + ${user.id} + '/appoint_master'}">[[#{admin.appoint.master}]]</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class = "row col-sm-10">
                    <div class = "col-sm-2">
                        [[#{menu.total.rows}]]: [[${totalElements}]] - [[#{menu.page}]] [[${currentPage + 1}]] [[#{menu.of}]] [[${totalPages}]]
                    </div>
                    <div class = "col-sm-1">
					    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
						    <a th:href="@{'/manager/users_list/page/' + ${i}}" >[[${i}]]</a> &nbsp;&nbsp;
					    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>