<div th:fragment="header_lang">
      <div style="float: right" >
            <nav class="navbar navbar-expand-sm">
                    <a class="nav-link" th:href="@{?lang=en}">
                        <img th:src="@{/images/engFlag.png}" width="50" height="70"/> English
                    </a>
                    <a class="nav-link" th:href="@{?lang=uk}">
                        <img th:src="@{/images/ukrFlag.png}" width="50" height="57"/> Українська
                    </a>
            </nav>
</div>
</div>